
@import url("https://fonts.googleapis.com/css?family=Rubik");

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    color: #707070;
}

h1 {
    font-size: 2em;
    color: #3B3B3B;
}

h3 {
    font-size: 1.375em;
    color: #3B3B3B;
}

/*ESTILOS HEADERNAV */

#headernav {
    background: #ececec;
}

.link-menu {
    color: #707070;
    text-decoration: none;

}

a:hover {
   color: #6984e6
}

/*ESTILOS PRINCIPALES */

#principal {
    margin-top: 3.125em;

   
}

.espacio {
    min-height: calc(100vh - 46875em);
}


/*ESTILOS DE Producto*/

#producto{
    background: -webkit-linear-gradient(90deg, #6984ea 10%, #6acbe0 90%);
    background: -moz-linear-gradient(90deg,#6984ea 10%, #6acbe0 90%);
    background: linear-gradient( 90deg, #6984ea 10%, #6acbe0 90%);
    color: cornsilk;
}

.espacio-row{
    padding-top: 3em;
    padding-bottom: 3em;
}

/*ESTILOS DE PIE*/

#pie {
    background: #3B3B3B;
    color: #ffffff;
    height: 4.6875em;
}



